# Entornos virtuales
.venv/
venv/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env

# Datos generados por el pipeline
data/bronze/
data/silver/
data/gold/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/